body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

th.left-header {
    width: 150px;
    text-align:left;
}

.googlemaps {
    width: 600px;
    height: 600px;
    border: 1px solid #242424;
}