<% unless signed_in? %>
<div class="hero-unit">
    <h1>Hello world!</h1>
    <p>I've restarted in photography and tried out various Open Source image galleries, but I wasn't really confident with any of them. So I had to write my own.</p>
    <p>This is imgfoo.</p>
  </div>
<% else %>
<div class="row">
  <div class="span6">
    <div class="page-header">
      <h1>Welcome back <%= @user.name %>!</h1>
    </div>
    <div class="well">
      <p>So, what's the plan for today!</p>
      <p><%= link_to "Upload content!", new_image_path, :class => "btn btn-large btn-info" %> or ...</p>
    </div>
  </div>
  <div class="span4">
    <% ['Latest upload','Most visited','Most commented'].each do |snippet| %>
      <h3><%= snippet %></h3>
      <ul class="thumbnails">
        <li >
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/140x180" alt="">
          </a>
        </li>
      </ul>
    <% end %>
  </div>
</div>
<% end %>