<div class="page-header">
  <h1>404</h1>
</div>
<div class="well">
  <h2>Ideas:</h2>
  <p><ul>
    <li>Local weather report through Weather.com API</li>
    <li>Camera repair/maintenance image</li>
  </ul></p>

  <p>But for now: 404. That is all.</p>
</div>