<h1>All images</h1>

<% @images.each do |image| %>
  <%= link_to image_tag(image.attachment.url(:thumb)), image %>
<% end %>

<h1>Images with Top Up</h1>

<% @images.each do |image| %>
  <%= link_to image_tag(image.attachment.url(:thumb)), image.attachment.url, :class => "top_up" %>
<% end %>