<% if signed_in? %>
<ul class="nav nav-list">
  <li class="nav-header">
    Be creative!
  </li>
  <li>
    <%= link_to new_image_path do %>
      <i class="icon-picture"></i>
      Upload content
    <% end %>
  </li>
  <li>
    <%= link_to new_album_path do %>
      <i class="icon-picture"></i>
      Create album
    <% end %>
  </li>
  <li class="nav-header">
    Administration
  </li>
  <li>
    <%= link_to current_user do %>
      <i class="icon-user"></i>
      Profile
    <% end %>
  </li>
  <li>
    <%= link_to edit_user_path(current_user) do %>
      <i class="icon-list-alt"></i>
      Edit settings
    <% end %>
  </li>
</ul>
<% end %>